
.FindPassword_Page {
    height: auto;
    background-color: lightcoral;
    text-align: center;
    overflow: auto;
}
.FindPassword_Page>div:nth-child(1){
    font-size: 3rem;
    padding-top: 40px;
}
.FindPassword_Page p{
    margin: 30px;
}

.FindPassword_Authentication {
    background-color: khaki;
    height: 500px;
    display: flex;
    border-collapse: collapse;
}
.FindPassword_Authentication>div{
    width: 50%;
}
.FindPassword_Page p{
    display: block;
}
