/* 관리자 페이지 전환, 로그아웃 */
header>:first-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 3.2rem;

  margin-top: 0.8rem;
  background-color: azure;
}

header>:first-child>span {
  margin-right: 0.8rem;
}
header>:first-child>a {
  margin-right: 0.8rem;
  text-decoration: none;
}




/* 메인 해더 (로고, 각 게시판) */
header>:nth-child(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;

  height: 8.6rem;

  background-color: bisque;
  
}

a{
  text-decoration: none;   

  color: black;
}

header>:nth-child(2)>:first-child {
  width: 10rem;
}
header>:nth-child(2)>:first-child>a {
  width: 100%;
  height: 100%;
  display: block;

  text-indent: -9999px;
}

header>:nth-child(2)>:nth-child(n+2):nth-child(-n+6) {

  width: 6.4rem;
  text-align: center;

}

header>:nth-child(2):hover+.Header_mainMenu {
  display: block;
}

header{
  position: relative;
}
header>:last-child:hover{
  display: block;
}
/* 호버 시 반응 */
header>:last-child {
  display: none;

  margin-top: 10px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

header>:last-child>div {
  display: flex;
  justify-content: space-around;


  margin-top: -15px;

  background-color: darkcyan;
}

header>:last-child>div>:first-child {
  width: 10rem;
}

header>:last-child>div>ul {
  list-style-type: none;

  width: 6.4rem;
  padding: 0px;
  display: inline-block;
}

header>:last-child>div>ul>li {
  text-align: center;

  margin-top: 5px;
}

.Header_logo{
  width: 100%;
  height: 100%;

  background-image: url('../../public/img/logo.png');
  background-size: cover;
  background-position: center;
}

 .goHome {
  display: none;
 }
.Header_mainHeader{
    font-size: large;
    font-weight: bold;
    border-radius: 15px;
}
.Header_Header1:hover{
  background-color: deepskyblue;
  color: white;
}
.Header_Header2:hover{
  background-color: deepskyblue;
  color: white;
}
.Header_Header3:hover{
  background-color: deepskyblue;
  color: white;
}
.Header_Header4:hover{
  background-color: deepskyblue;
  color: white;
}
.Header_Header5:hover{
  background-color: deepskyblue;
  color: white;
}

.Header_subMenu>a{
  font-size: large;
}

.Header_Menutitle1:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle1>a:hover{
  color: white;
}
.Header_Menutitle2:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle2>a:hover{
  color: white;
}
.Header_Menutitle3:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle3>a:hover{
  color: white;
}
.Header_Menutitle4:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle4>a:hover{
  color: white;
}
.Header_Menutitle5:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle5>a:hover{
  color: white;
}
.Header_Menutitle6:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle6>a:hover{
  color: white;
}
.Header_Menutitle7:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle7>a:hover{
  color: white;
}
.Header_Menutitle8:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle8>a:hover{
  color: white;
}
.Header_Menutitle9:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle9>a:hover{
  color: white;
}
.Header_Menutitle10:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle10>a:hover{
  color: white;
}
.Header_Menutitle11:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle11>a:hover{
  color: white;
}
.Header_Menutitle12:hover{
  background-color: DodgerBlue;
}
.Header_Menutitle12>a:hover{
  color: white;
}




@media(max-width: 1200px) {
  
  .goHome{
    display: block;
    background-image: url('../../public/img/logo.png');
    background-size: cover;
    background-position: center;

    width: 5rem;
    height: 5rem;
    
  }
  .goHome>a{
    width: 5rem;
    height: 5rem;
    display: block;
  }

  Header>:first-child{
    display: flex;
    justify-content: center;
    align-content: center;

    height: 5rem;
  }

  .noneHeader {
    display: none;
  }

  header>:nth-child(2)>:first-child {
    display: none;
  }

  header>:last-child>div>ul {
    list-style-type: none;
  
    width: 6.4rem;
    padding: 0px;
    display: inline-block;
  }

  header>:last-child>div>:first-child {
    display: none;
  }


}