
/* 디테일 메뉴 컨테이너 */
.homeDetail_container{
    /* position: relative; */
    display: flex;
    height: 25rem;

    /* background-color: chartreuse; */
}


/* 디테일 메뉴 왼쪽 div (검색/월간일정/이벤트 광고)*/
.homeDetail_items1{
    flex: 4;

    margin: 0.8rem;
    /* background-color: coral; */
}

/* 디테일 메뉴 오른쪽 div (로그인/로그아웃) */
.homeDetail_items2{
    flex: 2;

    /* background-color: #35b8be; */
    border-radius: 5%;
    /* box-shadow: inset 0px 0px 10px 5px rgba(104, 101, 101, 0.5); */
}


/* input 부모 div */
.homeDetail_items1>:first-child{
    height: 3.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: crimson; */
}

/* input (검색) 태그 */
.homeDetail_items1>:first-child>:first-child{
    width: 100%;
    height: 60%;
    margin-right: 10px;
}
.homeDetail_items1>div:first-child>input[type='submit']{
    height: 70%;
    width: 15%;
    background-color: #059da5;
    color: white;
    border-radius: 5%;
    border: none;
}


/* 월간일정 / 이벤트광고 */
.homeDetail_items1>:last-child{
    display: flex;
    height: calc(100% - 3.6rem);
}
.homeDetail_items1>:last-child>:first-child{
    flex: 2;
    /* background-color: cornsilk; */
}


/* 디테일 메뉴 로그인/로그아웃 */
.homeDetail_items2>:first-child{
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100% - 1.6rem);
    width: calc(100% - 1.6rem);
    transform: translate(0.8rem, 0.8rem);

    background-color: #d5f1f5;
    border-radius: 5%;
    box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 255, 0.5);
}

#homeDetail_loginbtn {
    width: 100%;
    height: 40px;
    background-color: #27979d;
    border: none;
    border-radius: 5%;
    color: white;
    font-size: 110%;
}

/* 디테일 메뉴 로그인/로그아웃 (input태그 form) */
.homeDetail_items2>:first-child>:first-child{
    width: 100%;

    display: flex;
    justify-content: center;
}

/* 월간일정 타이틀 */
.homeDetail_CalendarCaption{
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6e9ed;
}

/* 월간일정 달력 */
.homeDetail_Calendar{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;

    width: 100%;
    height: calc(100% - 3.2rem);

    background-color: #c7f3fa;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;

}
.homeDetail_Calendar>div:hover{
    background-color: #e7f8fb;
}

/* 슬릭부분 부모 */
.homeDetail_items1>:last-child>:last-child {
    display: block;
    flex: 3;
    /* background-color: dodgerblue; */
    height: 320px;
    width: 400px;
}

.slideBox{
    height: 320px;
    width: 100%;
}

.slick-slide img {
    width: 100%;
      /* 이미지의 너비를 100%로 설정하여 고정된 크기 지정 */
    height: 320px;
      /* 이미지의 높이를 고정된 값으로 설정 */
    object-fit: contain;
      /* 이미지를 부모 요소의 크기에 맞게 커버되도록 설정 */
}

.slick-slide img:hover{
    transform: scale(1.05);
}

@media(max-width: 1200px){
    /* 디테일 메뉴 컨테이너 */
    .homeDetail_container{
        display: block;
        height: auto;
    }
    
    .homeDetail_login>td>{
        text-align: right;
    }

    /* 디테일 메뉴 왼쪽 div (검색/월간일정/이벤트 광고)*/
    .homeDetail_items1 {
        height: 70%;
        
        /* background-color: coral; */
    }
    
    /* 디테일 메뉴 오른쪽 div (로그인/로그아웃) */
    .homeDetail_items2 {
        height: 40%;
        
    }
    .homeDetail_items2>:first-child{
        /* background-color: darkblue; */
        padding-top: 5%;
        padding-bottom: 5%;
    }
    /* .homeDetail_items2 table{
        width: 90%;
    } */
    /* .homeDetail_items2 input:nth-child(1),
    .homeDetail_items2 input:nth-child(2) {
        width: 90%;
        height: 25px;
    }
    #homeDetail_loginbtn{
        width: 90%;
    } */

    .slideBox {
        height: 222px;
        width: 100%;
     }
    
    .slick-slide img {
        width: 100%;
        /* 이미지의 너비를 100%로 설정하여 고정된 크기 지정 */
        height: 222px;
        /* 이미지의 높이를 고정된 값으로 설정 */
        object-fit: contain;
        /* 이미지를 부모 요소의 크기에 맞게 커버되도록 설정 */
    }

    .homeDetail_items1>:last-child>:last-child{
        height: 222px;
    }
}