.middlemenu {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: brown;
    height: 200px;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    line-height: 200px; */
}

.middlemenu>span{
    background-color: #ffa07a;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    text-align: center;
    line-height: 10rem;
    border-radius: 30%;
    /* margin: 0 15px; */
    margin: auto;
}

@media(max-width : 1200px) {
    .middlemenu{
        background-color: lightgoldenrodyellow;
        height: 300px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content: center;
    }

    .middlemenu>span {
        width: 8rem;
        height: 8rem;
        line-height: 8rem;
    }

    
}
