.PasswordChangeDetail2_Box{
    background-color: aqua;

    width: 100%;
    height: 800px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.PasswordChangeDetail2_Box2{
    width: 500px;
    height: 500px;

    /* background-color: #; */

}

.PasswordChangeDetail2_PasswordChange{
    font-weight: bold;
    font-size: larger;
    height: 2rem;

    margin-bottom: 1rem;
    display: flex;
    margin-top: calc(250px - 4rem);
        
    justify-content: center;
}

.PasswordChangeDetail2_Box2>div{
    height: 2rem;

    display: flex;

    justify-content: center;
    margin-bottom: .5rem;

}