.RentalSearchButton {
    position: absolute;
    top: 95px;
    left: 220px;
}

.RentalSearchButton button {
    width: 100px;
    height: 50px;
    margin-right: 30px;
}

@media (max-width : 1200px) {
    .RentalSearchButton {
        position: initial;
        margin: 5px 0;
    }
}