/* 대표항목 */
.PlaceRentalSearchList_index {
    border-top: 3px solid #C9EDFA;
    background-color: aliceblue;
    position: absolute;
    top: 210px;
    right: 0;
    width: 980px;
    display: grid;
    grid-template-columns: 1fr 3fr repeat(4, 1fr);
    text-align: center;
}

.PlaceRentalSearchList_index span {
    font-weight: bold;
}

/* 검색 내용 */
.PlaceRentalSearchList_content {
    position: absolute;
    top: 240px;
    right: 0;
    width: 980px;
    display: grid;
    grid-template-columns: 1fr 3fr repeat(4, 1fr);
    text-align: center;
}

@media (max-width : 1200px) {
    .PlaceRentalSearchList_div {
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        margin-top: 30px;
    }

    .PlaceRentalSearchList_index {
        position: initial;
        width: 100%;
    }

    .PlaceRentalSearchList_content {
        position: initial;
        width: 100%;
    }
}