/* 조회, 초기화 버튼  */
.RentalSearchButton button {
    width: 100px;
    height: 50px;
    margin: 10px 30px;
    font-size: large;
    background-color: #059da5;
    color: white;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

/* form */
.PlaceRentalContent_form {
    border-top: 3px solid #C9EDFA;
}

.PlaceRentalContent_form table {
    border-collapse: collapse;
    width: 100%;
}

.PlaceRentalContent_form th {
    border-left: rgba(28, 28, 28, 0.199) 1px solid;
    border-bottom: rgba(28, 28, 28, 0.199) 1px solid;
    border-right: rgba(28, 28, 28, 0.199) 1px solid;
    width: 30%;
    height: 30px;
    font-weight: bold;
    background-color: aliceblue;
}

.PlaceRentalContent_form td {
    border-left: rgba(28, 28, 28, 0.199) 1px solid;
    border-bottom: rgba(28, 28, 28, 0.199) 1px solid;
    border-right: rgba(28, 28, 28, 0.199) 1px solid;
    padding: 5px;
    height: 100%;
    width: max-content;
}

.PlaceRentalContent_form td * {
    vertical-align: middle;
}

.PlaceRentalContent_form input {
    height: 30px;

}

.PlaceRentalContent_form #name {
    width: 95%;
}

.PlaceRentalContent_form input[type="text"] {
    width: 95%;
}

/* 글쓰기 버튼 */
.RentalWriteButton button {
    width: 100px;
    height: 50px;
    margin: 10px 30px;
    font-size: large;
    background-color: #059da5;
    color: white;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}