.PlaceRentalSearchList_index {
    background-color: brown;
    position: absolute;
    top: 160px;
    right: 0;
    width: 980px;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    text-align: center;
}

.PlaceRentalSearchList_content {
    background-color: brown;
    position: absolute;
    top: 185px;
    right: 0;
    width: 980px;
    display: grid;
    grid-template-columns: 3fr repeat(4, 1fr);
    text-align: center;
}

@media (max-width : 1200px) {
    .PlaceRentalSearchList_div {
        overflow: auto;
        white-space: nowrap;
        width: 100%;
    }

    .PlaceRentalSearchList_index {
        position: initial;
        width: 100%;
    }

    .PlaceRentalSearchList_content {
        position: initial;
        width: 100%;
    }
}