/* 서브타이틀 */
.RentalInfoSearchButton_title {
    font-size: 20px;
    font-weight: 500;
}

/* 사용허가절차 & 신청 */
.RentalInfoSearchButton_OK_div {
    position: absolute;
    left: 220px;
    top: 0px;
    margin-top: 10px;
}

/* 조례 및 조건사항 */
.RentalInfoSearchButton_Conditions_div {
    position: absolute;
    left: 220px;
    top: 300px;
    margin-top: 40px;

}

/* 스크롤 박스 */
.RentalInfoSearchButton_scrollbox {
    background-color: #F6F6F6;
    width: 890px;
    height: 180px;
    padding: 30px;
    margin: 0 15px;
    overflow-y: auto;
    border: black solid 1px;
}

.TermsAndConditions_subtitle {
    margin: 15px;
    font-size: 25px;
    font-weight: 700;
}

/* 우선순위 */
.RentalInfoSearchButton_ul {
    border: 1px black solid;
    list-style: none;
    margin-bottom: 16px;
    padding: 0;
}

.RentalInfoSearchButton_ul li {
    width: 217.5px;
    height: 70px;
    font-size: 19px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

.RentalInfoSearchButton_ul li span {
    display: block;
}

/* 사용허가절차, 조례 내용 */
.RentalInfoSearchButton_pre {
    margin: 0;
}

/* 신청서다운로드 허가신청 버튼 */
.RentalInfoSearchButton {
    position: absolute;
    bottom: 70px;
    left: 220px;
    margin-left: 260px;
}

.RentalInfoSearchButton button {
    margin: 0 20px;
    width: 200px;
    height: 75px;
}

@media (max-width : 1200px) {

    /* 내용 박스 */
    .RentalInfoSearchButton_OK_div {
        position: inherit;
        left: 0;
        overflow: auto;
    }

    .RentalInfoSearchButton_Conditions_div {
        position: inherit;
        top: 0;
        left: 0;
        overflow: auto;
    }

    /* 신청서 다운, 사용허가신청 버튼 */
    .RentalInfoSearchButton {
        position: inherit;
        top: 5px;
        left: 0;
        margin-left: 0;
    }
}