.RegistrationFlow_ul>span{
    font-size: larger;
}


.RegistrationFlow_ul {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;

}

.RegistrationFlow_ul li {
    width: 220px;
    height: 70px;
    padding-top: 10px;
    font-size: 19px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
}

.RegistrationFlow_ul li::before {
    background-color: rgb(34, 133, 255);
}

.RegistrationFlow_ul li::after {
    background-color: #ffffff;
}

.RegistrationFlow_ul li span {
    display: block;
    height: 30;
}

.textBold{
    font-weight: bold;
}