.SugangSearchList_index {
    background-color: #f3f3f1;
    position: absolute;
    top: 400px;
    right: 0;
    width: 980px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr 3fr repeat(5, 1fr);
    text-align: center;
}

.SugangSearchList_content {
    position: absolute;
    top: 425px;
    right: 0;
    width: 980px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr 3fr repeat(5, 1fr);
    text-align: center;
}

@media (max-width : 1200px) {
    .SugangSearchList_div {
        overflow: auto;
        white-space: nowrap;
        width: 100%;
    }

    .SugangSearchList_index {
        position: initial;
    }

    .SugangSearchList_content {
        position: initial;
    }
}