/* 접수일정 전체 div */
.SugangReciptInfo {
    position: absolute;
    top: 10px;
    right: 0;
    width: 980px;
    height: 170px;
    background-color: #fff;
}

/* 접수일정 text */
.SugangReciptInfo p {
    font-weight: bold;
    font-size: 25px;
    margin: 12.5px 0;
}

/* 체육 시설 span div */
.SugangReciptInfo_span {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    border-top: 1px black solid;
    border-left: 1px black solid;
}

/* 대표항목 */
.SugangReciptInfo_span span:nth-of-type(1),
.SugangReciptInfo_span span:nth-of-type(2),
.SugangReciptInfo_span span:nth-of-type(3) {
    background-color: #E8E3F1;
    font-weight: bold;
    text-align: center;
}

/* 체육시설 span */
.SugangReciptInfo_span span:nth-of-type(3n+1) {
    grid-column: 1/2;
    padding-left: 10px;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

/* 등록일자 span */
.SugangReciptInfo_span span:nth-of-type(3n+2) {
    grid-column: 2/3;
    text-align: center;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

/* 대기등록 span */
.SugangReciptInfo_span span:nth-of-type(3n) {
    grid-column: 3/4;
    text-align: center;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}

@media (max-width : 1200px) {
    .SugangReciptInfo {
        position: initial;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
    }
}