
.XhomeBannerEventList>div:nth-child(1){
    width: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr) 4fr 1fr;;
    text-align: center;

}
.XhomeBannerEventList{
    background-color: rgb(135, 175, 147);
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: auto;
}
.XhomeBannerEventList_div{
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
}
.XhomeBannerEventList_div>span{
    font-weight: bold;
}
.XhomeBannerEventList_content{
    padding-top: 0.5rem;
}