.JoinLecture_star {
    color: red;
}

/* 직원등록 */
.XStaffRegisterContent_Caption {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 3px solid hsl(196, 83%, 88%);
    grid-column: 1/3;
    padding-bottom: 10px;
}

/* 테이블 */
.XStaffRegisterContent_talbe {
    margin-top: 40px;
    display: grid;
}

.XStaffRegisterContent_talbe tr {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 140px 1fr;
}

/* index */
.XStaffRegisterContent_talbe tr th {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #ceeff250;
}

/* 내용 */
.XStaffRegisterContent_talbe tr td {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* select 박스 */
.XStaffRegisterContent_select {
    width: 177px;
    margin: 0;
    height: 26px;
}

.XStaffRegisterContent_input {
    margin: 0;
    grid-column: 2/3;
}

/* 소제목 */
.JoinStaff_title {
    font-size: large;
    font-weight: bold;

}

.JoinStaff_title::after {
    content: "";
    border-right: 1px solid #ccc;

    padding-right: 10px;
    margin-right: 10px;

}

/* 직원등록 버튼 박스 */
.JoinStaff_submitBox {
    display: flex;
    justify-content: right;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    padding-right: 10px;
}

/* 직원등록 버튼 */
.JoinStaff_submitInput {
    width: 100px;
    height: 50px;
    margin-right: 30px;
    font-size: large;
    background-color: #059da5;
    color: white;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}