.XSugangRequest_div {
    display: flex;
}

.XSugangRequest_div_div {
    flex-grow: 1;
}

/* 대표항목 */
.XSugangRequest_index {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    margin-top: 30px;
    border-top: 3px solid #C9EDFA;
    background-color: #ceeff250;
    text-align: center;
}

.XSugangRequest_index p {
    justify-content: center;
    align-items: center;
    word-break: keep-all;
    margin: 0;
    padding: 10px 0;
    font-weight: bold;
}

@media (max-width:1200px) {
    .XSugangRequest_div {
        display: inherit;
    }
}